.howto {
  --footerHeight: 80px;
  --leftPanelWidth: 35%;
  --leftPanelColor: #0fbcc0;
  --footerPadding: 4vh;
}

@media (max-height: 600px) {
  .howto {
    --footerHeight: 60px;
    --footerPadding: 3vh;
  }
}

.howto-body {
  height: 100vh;
  /* height: calc(100% - var(--footerHeight)); */
  overflow: auto;
  display: flex;
}

.howto-body-left {
  background-color: var(--leftPanelColor);
  width: var(--leftPanelWidth);
  position: relative;
  color: white;
  padding: 6vh 7vh 0px 7vh;
}

.howto-body-left img {
  position: absolute;
  top: -50px;
  left: -60px;
  width: 47vh;
  height: 49vh;
}

.howto-body-left.backdrop {
  position: absolute;
  z-index: -1;
  height: 100%;
}

.howto-body-right {
  width: calc(100% - var(--leftPanelWidth));
  padding: 3.5vh 10vh 0px 8vh;
}

.pointOuterWrapper {
  display: flex;
  gap: 37px;
}

.pointCount {
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.78;
  letter-spacing: -0.36px;
  color: #000;
  display: block;
  height: 100%;
  width: 40px;
  text-align: center;
}

.pointWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-left: solid 3px #e5e5e5;
  padding-left: 37px;
}

.pointWrapperMargin {
  margin-top: 5vh;
}

.pointTitle {
  margin: 0;
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.78;
  letter-spacing: -0.36px;
  color: #000;
}

.pointDesc {
  font-size: 1vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5em;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  margin-bottom: 1vh;
}

.howTo-wrapper {
  position: fixed;
  bottom: 0;
  left: 10px;
  right: 10px;
  width: var(--leftPanelWidth);
  padding: 6vh 7vh 0px 7vh;
}

.howto-title {
  margin-bottom: 29px;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 4rem;
  font-weight: 500;
}

.howto-text {
  margin: 0px 3px 30px;
  font-size: 14px;
  line-height: 1.5em;
}

.howto-footer {
  height: var(--footerHeight);
  display: flex;
}

.howto-footer-left {
  background-color: var(--leftPanelColor);
  width: var(--leftPanelWidth);
  display: flex;
  align-items: center;
  padding: 1vh 7vh var(--footerPadding) 7vh;
}

.howto-footer-left > span {
  color: #fcfcfc;
  font-weight: 600;
}

.howto-footer-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 7vh 1vh 8vh;
}

.howto-footer-right-text {
  color: #0fbcc0;
}

@media (max-width: 900px) {
  .howto-title {
    font-size: 2rem;
  }
}

@media (min-width: 1500px) {
  .pointDesc {
    max-width: 41vw;
  }
}
