.howtosection-container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 2vh 0px 0;
}

.howtosection-left {
  max-width: 100%;
}

.howtosection-left img {
  height: max(10vh, 5vh);
}

.howtosection-name {
  /* font-size: 1.3rem; */
  font-size: 22px;
  font-weight: 500;
  margin-top: 1vh;
}

.howtosection-line {
  display: flex;
  margin-bottom: 4px;
  font-size: 1rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: -0.2px;
  text-align: left;
  color: #000;
}

.howtosection-line-left {
  display: flex;
  align-items: center;
}

.howtosection-line-right {
  margin-left: 20px;
}

.howtosection-dash {
  height: 4px;
  width: 38px;
}
