.credits {
  text-align: center;
  height: 100%;
  overflow: auto;
  color: white;
}

.credits-header {
  width: 66%;
  max-width: 1248px;
  margin: 2vh auto;
  padding-top: 20px;
}

.credits-title {
  font-weight: bold;
  color: #95c33c;
}

.credits-subtitle {
  font-weight: bold;
  margin-bottom: 2vh;
  color: #95c33c;
}

.content {
  font-size: 0.8rem;
  max-width: 861px;
  text-align: center;
  margin: 4vh auto 0;
  line-height: 1.5em;
  color: #000;
  font-weight: 600;
}

.infoText {
  margin-top: 1vh;
  font-size: 0.65rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}

.infoText a {
  color: #000;
  margin-left: 5px;
}

.createdByWrap {
  margin-top: 5vh;
}

.teamTitle {
  font-size: 0.8rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.16px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.teamName {
  margin-top: 1vh;
  font-size: 0.85rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: -0.18px;
  text-align: center;
  color: #000;
}

.credits-footer {
  width: 60%;
  max-width: 518px;
  margin: 2vh auto;
}

.credits-body > img {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
}

.credits-footer-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.credits-footer-logos > img {
  margin: 0px 20px;
  cursor: pointer;
}

.credits-footer > div {
  margin: 12px 0px;
}

.credits-table {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.credits-table-title {
  font-weight: bold;
  margin: 15px 0px;
}

.credits-table-footer {
  margin: 2vh 0;
}

.creditBtn {
  color: #0fbcc0;
  border-radius: 25px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  border: solid 1px #0fbcc0;
  background-color: #fff;
}

/* .creditBtn:hover {
  filter: brightness(90%);
} */

.credit-blackOverlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(48, 75, 87, 0.3);
  z-index: -1;
  position: absolute;
}

.public-domain-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 16vw;
  margin-top: 4vh;
}

.fsFooter1 {
  font-size: 0.7rem;
}

.footerText {
  margin-left: 2vh;
  font-size: 0.65rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  width: 66%;
  max-width: 790px;
}
