.welcome {
  --maxWidth: 64vw;
  --width: 75vw;
  --buttonContainerHeight: 10vh;

  color: black;
}

@media (max-height: 500px) {
  .welcome {
    --buttonContainerHeight: 17vh;
  }
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100%;
}

.welcomeTwo-panel {
  width: var(--width);
  max-width: var(--maxWidth);
  /* height: 72vh; */
  /* max-height: 776px; */
  margin: 0px auto;
}

.welcome-body {
  overflow: auto;
  padding: 4vh 5vw 0px 5vw;
}

.welcomeTwo-title {
  margin: 3vh 0 2vh;
  font-size: 1.5vw;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.welcomeTwo-desc {
  text-align: center;
  color: #000;
}

.welcomeTwoWrap {
  margin-top: 5vh;
}

.welcome-button-container {
  height: var(--buttonContainerHeight);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}

.welcomeBtn {
  color: white;
  /* padding: 7px 17px 6px 18px;
    font-size: 21px; */
  padding: 9px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9vw;
  border-radius: 22px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #0fbcc0;
  font-weight: 500;
}
